@use "sass:color";

.feedback-popup-wrap {
  background: #fffcf5;
  border-radius: 16px;
  max-width: 600px;
  @media (max-width: 767px) {
    padding: 24px 16px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #343330;
    margin-bottom: 24px;
    padding-right: 24px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  .name-transaction {
    padding: 8px 16px;
    border-radius: 20px;
    border-bottom: 1px solid #f8f2ea;
    background: #f8f2ea;
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .name {
      font-size: 16px;
      font-weight: 600;
      color: #252525;
      margin-right: 12px;
      flex-grow: 1;
    }

    .images {
      display: flex;

      .img {
        display: flex;
        margin-left: 2px;
        width: 60px;
        height: 60px;
        border-radius: 16px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .stars-wrap {
    margin-bottom: 24px;

    span {
      display: block;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
      color: #252525;
    }

    .imgs {
      display: flex;
      align-items: center;

      img {
        margin-right: 4px;
      }

      b {
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
        margin-left: 8px;
        color: #343330;
      }
    }

    .images {
      display: flex;

      img {
        margin-right: 5px;
      }
    }
  }

  .stars-wrap2 {
    text-align: center;
    margin-bottom: 44px;
  }

  .stars-wrap-small {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    b {
      margin-left: 8px;
      font-size: 18px;
      font-weight: 600;
      margin-left: 8px;
      color: #343330;
    }

    .imgs {
      display: flex;

      img {
        margin-right: 2px;

        img {
          width: 20px;
        }
      }
    }
  }

  .share-details {
    margin-bottom: 24px;

    span {
      display: block;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
      color: #252525;
    }

    input {
      height: 46px;
      width: 100%;
      border-radius: 16px;
      background: #f8f2ea;
      padding: 0px 12px;
    }
  }

  .textarea-details {
    margin-bottom: 48px;

    span {
      display: block;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
      text-align: center;
      color: #252525;
    }

    textarea {
      height: 140px;
      width: 100%;
      border-radius: 16px;
      background: #f8f2ea;
      padding: 12px;
      resize: none;
      &::-webkit-input-placeholder {
        color: #68727d;
      }
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      border-radius: 16px;
      font-weight: 600;
      padding: 12px 14px;

      &.cancel {
        background: #f8f2ea;
        color: #343330;

        &:hover {
          background: color.adjust(#f8f2ea, $lightness: -5%);
        }
      }

      &.green-btn {
        color: #fffcf5;

        &.disabled {
          background: #8fa392;
        }
      }
    }
  }
}
