.article-info {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 120px;
  text-align: center;
  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: left;
    color: #252525;
    margin-top: 40px;
    @media (max-width: 767px) {
      margin: 20px 0 30px;
    }
  }
  .show-more {
    padding: 12px 16px;
    border-radius: 16px;
    background: #f8f2ea;
    font-size: 14px;
    font-weight: 600;
    color: #343330;
    @include inline-flex;
    &:hover {
      background: darken(#f8f2ea, 4%);
    }
  }
}

img,
video {
  max-width: unset;
}

.article-item {
  text-align: left;
  @include flex;
  @include justify-between;
  margin-bottom: 40px;
  .texts {
    width: 64%;
    @include flex;
    @include dir-col;
    align-items: flex-start;
    @media (max-width: 767px) {
      width: 100%;
    }
    .date {
      font-size: 14px;
      font-weight: 600;
      color: #343330;
      border-radius: 40px;
      margin-bottom: 24px;
      @include inline-flex;
      padding: 2px 8px;
      background: #f8f2ea;
    }
    b {
      display: block;
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 600;
      color: #343330;
    }
    p {
      font-size: 16px;
      color: #68727d;
      margin-bottom: 24px;
    }
  }
  .img {
    @include flex;
    width: 34%;
    @media (max-width: 767px) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}

.text-article {
  b {
    display: inline-block !important;
    margin-bottom: 0 !important;
    margin-right: 7px;
  }
}

.barter-banner {
  background: url(/img/article/barter-banner-bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 200px 0;
  border-radius: 40px;
  @media (max-width: 1024px) {
    padding: 120px 0;
  }
  @media (max-width: 767px) {
    padding: 80px 0;
  }
  h1 {
    max-width: 910px;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    line-height: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    @media (max-width: 1024px) {
      font-size: 7.1vw;
    }
  }
  &.barter-banner2 {
    background: url(/img/article/barter-banner-bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.trend-barter {
  padding: 80px 0;
  text-align: center;
  @media (max-width: 1024px) {
    padding: 50px 0;
  }
  @media (max-width: 767px) {
    padding: 30px 0 0;
  }
  h3 {
    font-size: 48px;
    font-weight: 600;
    color: #252525;
    margin-bottom: 30px;
    text-align: center;
    @media (max-width: 1024px) {
      font-size: 40px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
      max-width: 310px;
      width: 100%;
      margin: 0 auto 20px;
    }
  }
  p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #252525;
    text-align: left;
    @media (max-width: 1024px) {
      font-size: 22px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px auto;
    @media (max-width: 767px) {
      width: 60%;
    }
  }
}

.result-wrap {
  padding: 80px 0;
  @media (max-width: 1024px) {
    padding: 30px 0;
  }
  .wrapper {
    @include flex;
    position: relative;
    z-index: 0;
    @media (max-width: 1024px) {
      @include dir-col;
    }
    .img {
      @include flex;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      img {
        max-width: 100%;
        max-height: 100%;
      }
      @media (max-width: 1024px) {
        position: static;
        margin: 20px auto 0;
      }
    }
    .texts {
      h2 {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 30px;
        color: #252525;
        @media (max-width: 1024px) {
          font-size: 44px;
        }
        @media (max-width: 767px) {
          margin-bottom: 20px;
          font-size: 36px;
        }
      }
      ul {
        padding-left: 20px;
        list-style-type: disc;
        margin-left: 15px;
        margin-bottom: 30px;
        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
        li {
          font-size: 40px;
          font-weight: normal;
          color: #252525;
          @media (max-width: 1024px) {
            font-size: 34px;
          }
          @media (max-width: 767px) {
            font-size: 20px;
          }
        }
      }
      p {
        font-size: 24px;
        max-width: 530px;
        width: 100%;
        color: #252525;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
      h5 {
        font-size: 40px;
        font-weight: normal;
        color: #252525;
        max-width: 800px;
        @media (max-width: 1024px) {
          font-size: 34px;
        }
        @media (max-width: 767px) {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
  &.result-wrap {
    .wrapper {
      p {
        max-width: 730px;
      }
    }
  }
}

.barter-green-block {
  margin-top: 80px;
  @media (max-width: 767px) {
    margin-top: 50px;
  }
  .info {
    background: url(/img/article/barter-green-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px;
    @include flex;
    @include justify-between;
    border-radius: 30px;
    @media (max-width: 1024px) {
      @include dir-col;
    }
    @media (max-width: 767px) {
      padding: 30px 20px;
    }
    .left,
    .left2 {
      width: 37%;
      @media (max-width: 1024px) {
        width: 100%;
        text-align: center;
      }
      h3 {
        font-size: 44px;
        line-height: 110%;
        font-weight: 600;
        color: #fff;
        margin-bottom: 30px;
        @media (max-width: 1024px) {
          text-align: left;
          font-size: 40px;
        }
        @media (max-width: 767px) {
          font-size: 30px;
        }
      }
      img {
        max-width: 380px;
        max-height: 100%;
        @media (max-width: 1024px) {
          margin: 20px auto;
          width: 100%;
        }
      }
      &.left2 {
        width: 41%;
        @media (max-width: 1024px) {
          width: 100%;
          h3 {
            max-width: 410px;
          }
        }
        img {
          max-width: 100%;
        }
      }
    }
    .list-info {
      align-self: flex-end;
      width: 55%;
      @media (max-width: 1024px) {
        width: 100%;
      }
      .list-item {
        margin-top: 15px;
        @include flex;
        @include align-center;
        .icon {
          border-radius: 50%;
          @include flex;
          width: 50px;
          height: 50px;
          min-width: 50px;
          background: #edb53e;
          margin-right: 20px;
          @media (max-width: 767px) {
            width: 34px;
            height: 34px;
            min-width: 34px;
            margin-right: 15px;
          }
          img {
            margin: auto;
            @media (max-width: 767px) {
              width: 16px;
            }
          }
        }
        .text {
          font-size: 16px;
          color: white;
        }
      }
    }
    .items {
      width: 48%;
      @media (max-width: 1024px) {
        width: 100%;
      }
      .item {
        border-radius: 20px;
        background: #fffcf5;
        padding: 20px;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        b {
          font-size: 24px;
          font-weight: 600;
          display: block;
          margin-bottom: 15px;
          color: #252525;
          @media (max-width: 767px) {
            font-size: 20px;
            margin-bottom: 10px;
          }
        }
        span {
          font-size: 16px;
          color: #252525;
        }
      }
    }
  }
}

.universal-analysis {
  margin-top: 80px;
  margin-bottom: 10px;
  @media (max-width: 1024px) {
    margin-top: 50px;
  }
  @media (max-width: 767px) {
    margin: 20px 0;
  }
  h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #252525;
    @media (max-width: 1024px) {
      font-size: 40px;
      margin-bottom: 30px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
    }
  }
  h4 {
    font-size: 24px;
    font-weight: 600;
    color: #252525;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  p {
    font-size: 16px;
    color: #252525;
    margin-top: 20px;
    max-width: 620px;
    @media (max-width: 767px) {
      font-size: 15px;
      margin-top: 15px;
    }
  }
  .list2 {
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 50px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    li {
      font-size: 16px;
      color: #252525;
    }
  }
  .table-wrap {
    margin-top: 20px;
    @media (max-width: 1100px) {
      overflow-x: auto;
    }
    .table-top {
      padding: 20px;
      @include flex;
      border-radius: 20px 20px 0 0;
      background: #decbaf;
      @media (max-width: 1100px) {
        overflow-x: auto;
        min-width: 1150px;
      }
      span {
        font-size: 16px;
        font-weight: 600;
        color: #252525;
        display: inline-block;
      }
    }
    .table-items {
      @media (max-width: 1100px) {
        overflow-x: auto;
        min-width: 1150px;
      }
      .table-item {
        background: #fffcf5;
        padding: 20px;
        @include flex;
        @include align-center;
        span {
          font-size: 14px;
          color: #252525;
          display: inline-block;
        }
        &:nth-child(even) {
          background: #f2e9dc;
        }
      }
    }
  }
}

.draw-contract {
  margin: 40px 0;
  h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #252525;
    text-align: center;
    @media (max-width: 1024px) {
      font-size: 40px;
      margin-bottom: 40px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
  .info {
    @include flex;
    @include justify-between;
    align-items: flex-end;
    @media (max-width: 767px) {
      @include dir-col;
    }
    .text-wrap {
      width: 450px;
      min-width: 450px;
      margin-right: 20px;
      @media (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 30px;
        min-width: 100%;
        width: 100%;
      }
      .list {
        margin-bottom: 20px;
        > span {
          font-size: 16px;
          color: #252525;
        }
        ul {
          list-style-type: disc;
          padding-left: 18px;
          li {
            font-size: 16px;
            color: #252525;
          }
        }
      }
      h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #252525;
      }
      .variant-item {
        @include flex;
        margin-bottom: 20px;
        .num {
          width: 40px;
          height: 40px;
          min-width: 40px;
          @include flex;
          @include align-center;
          @include justify-center;
          background: #267f53;
          border-radius: 50%;
          margin-right: 20px;
          font-size: 20px;
          font-weight: 500;
          color: white;
        }
        .var-info {
          p {
            margin-bottom: 10px;
            font-size: 16px;
            color: #252525;
            a {
              font-size: 16px;
              font-weight: 600;
              color: #267f53;
              border-bottom: 1px solid #267f53;
            }
          }
          ul {
            list-style-type: disc;
            padding-left: 18px;
            li {
              font-size: 16px;
              color: #252525;
            }
          }
        }
      }
      .doc-wrap {
        padding: 24px;
        padding-top: 34px;
        border-radius: 30px;
        background: rgba(189, 227, 208, 0.8);
        position: relative;
        z-index: 0;
        margin-top: 70px;
        > img {
          position: absolute;
          top: -70px;
          left: 50%;
          transform: translateX(-50%);
        }
        b {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 15px;
          color: #252525;
          display: block;
        }
        span {
          font-size: 16px;
          color: #252525;
        }
      }
    }
    .img-wrap {
      @include flex;
      @media (max-width: 767px) {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
}

.types-barter {
  margin: 40px 0;
  @media (max-width: 767px) {
    margin: 20px 0;
  }
  h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #252525;
    text-align: center;
    @media (max-width: 1024px) {
      font-size: 40px;
      margin-bottom: 40px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
  .types-barter-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    @media (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    .types-barter-item {
      padding: 25px;
      border-radius: 30px;
      background: #fff;
      img {
        border-radius: 30px;
        width: 100%;
        margin-bottom: 30px;
      }
      b {
        text-align: center;
        display: block;
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 600;
        color: #252525;
      }
      ul {
        list-style-type: disc;
        padding-left: 18px;
        margin-bottom: 10px;
        li {
          font-size: 16px;
          color: #252525;
        }
      }
      span {
        font-size: 16px;
        color: #252525;
      }
    }
  }
}

.changed-general {
  margin: 40px 0;
  @media (max-width: 767px) {
    margin: 20px 0;
  }
  h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #252525;
    text-align: center;
    @media (max-width: 1024px) {
      font-size: 40px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
    }
  }
  p {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #252525;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  h5 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
    color: #252525;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  .changed-general-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
    .changed-general-item {
      @include flex;
      @include dir-col;
      @include align-center;
      img {
        margin-bottom: -40px;
        position: relative;
        z-index: 1;
        @media (max-width: 767px) {
          width: 110px;
        }
      }
      .style {
        padding: 20px;
        padding-top: 50px;
        border-radius: 30px;
        background: #fff;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.swappe-works {
  background: url(/img/article/swappe-works-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 60px 0;
  border-radius: 40px;
  margin: 40px 0;
  overflow: hidden;
  h2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
    @media (max-width: 767px) {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
  .wrapper {
    position: relative;
    z-index: 0;
    .arr1 {
      position: absolute;
      top: 400px;
      left: 170px;
      @media (max-width: 1300px) {
        display: none;
      }
    }
    .arr2 {
      position: absolute;
      top: 400px;
      left: 550px;
      @media (max-width: 1300px) {
        display: none;
      }
    }
    .arr3 {
      position: absolute;
      top: 400px;
      left: 890px;
      @media (max-width: 1300px) {
        display: none;
      }
    }
  }
  .items {
    @include flex;
    @include justify-between;
    position: relative;
    top: -130px;
    @media (max-width: 767px) {
      @include dir-col;
      position: static;
    }
    .item {
      position: relative;
      z-index: 0;
      @include flex;
      @include dir-col;
      @include align-center;
      @include justify-center;
      @media (max-width: 767px) {
        margin: 80px auto !important;
        position: static !important;
      }
      .num {
        background: url(/img/article/star-white-style.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 120px;
        height: 120px;
        @include flex;
        @include align-center;
        @include justify-center;
        font-size: 50px;
        font-weight: 600;
        color: #267f53;
        position: absolute;
        @media (max-width: 767px) {
          display: none;
        }
      }
      > img {
        position: absolute;
        z-index: -1;
      }
      b {
        font-size: 24px;
        display: block;
        font-weight: 600;
        color: white;
        margin-bottom: 20px;
      }
      span {
        font-size: 16px;
        color: white;
        max-width: 250px;
      }
      &:nth-child(1) {
        margin-top: 560px;
        @media (max-width: 1300px) {
          left: 30px;
        }
        .num {
          top: -140px;
          left: 40%;
          transform: translateX(-50%);
        }
      }
      &:nth-child(2) {
        margin-top: -80px;
        @media (max-width: 1024px) {
          left: -100px;
        }
        .num {
          bottom: 170px;
          left: 40%;
        }
      }
      &:nth-child(3) {
        margin-top: 560px;
        right: -60px;
        .num {
          top: -140px;
          left: 48%;
          transform: translateX(-50%);
        }
      }
      &:nth-child(4) {
        margin-top: -80px;
        @media (max-width: 1300px) {
          right: 50px;
        }
        .num {
          bottom: 170px;
          right: 10px;
        }
      }
    }
  }
}

.world-marketing {
  margin: 80px 0 40px;
  @media (max-width: 767px) {
    margin: 40px 0 20px;
  }
  .wrapper {
    @include flex;
    align-items: flex-start;
    @media (max-width: 1024px) {
      @include dir-col;
    }
    .text-wrap {
      flex-grow: 1;
      @include flex;
      @include dir-col;
      @media (max-width: 1024px) {
        margin-bottom: 30px;
      }
      h3 {
        font-size: 50px;
        font-weight: 600;
        color: #252525;
        margin-bottom: 30px;
        @media (max-width: 1024px) {
          font-size: 40px;
        }
        @media (max-width: 767px) {
          font-size: 28px;
          margin-bottom: 20px;
        }
      }
      p {
        font-size: 24px;
        color: #252525;
        margin-bottom: 30px;
        @media (max-width: 1024px) {
          font-size: 20px;
        }
        @media (max-width: 767px) {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }
      .img {
        margin-left: auto;
        @include flex;
        margin-top: 30px;
        img {
          width: 100%;
        }
      }
    }
    .img-wrap {
      @include flex;
      width: 330px;
      min-width: 330px;
      margin-left: 50px;
      @media (max-width: 767px) {
        margin-left: 0;
        width: 100%;
        min-width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
}

.collaboration {
  margin: 40px 0;
  @media (max-width: 767px) {
    margin: 20px 0;
  }
  .subtitle {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #68727d;
    @media (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }
  h2 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: normal;
    color: #252525;
    @media (max-width: 1024px) {
      font-size: 32px;
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      font-size: 22px;
    }
  }
  p {
    font-size: 24px;
    color: #252525;
    max-width: 660px;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  ul {
    padding-left: 20px;
    list-style-type: disc;
    margin-left: 15px;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
    li {
      font-size: 24px;
      font-weight: normal;
      color: #252525;
      @media (max-width: 1024px) {
        font-size: 20px;
      }
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
  h3 {
    margin-bottom: 50px;
    margin-top: 80px;
    font-weight: 600;
    font-size: 50px;
    color: #252525;
    @media (max-width: 1024px) {
      font-size: 40px;
      margin-bottom: 30px;
      margin-top: 50px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
      margin-top: 30px;
    }
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .num {
      display: inline-block;
      font-size: 120px;
      line-height: 100%;
      font-weight: 600;
      color: rgba(38, 127, 83, 0.48);
      margin-bottom: 30px;
      @media (max-width: 1024px) {
        font-size: 100px;
      }
      @media (max-width: 767px) {
        font-size: 80px;
        margin-bottom: 15px;
      }
    }
    p {
      font-size: 16px;
      color: #252525;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
    h2 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 30px;
      color: #252525;
      @media (max-width: 1024px) {
        font-size: 24px;
      }
      @media (max-width: 767px) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

.old-tool {
  margin: 40px 0;
  @media (max-width: 767px) {
    margin: 20px 0;
  }
  h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #252525;
    @media (max-width: 1024px) {
      font-size: 40px;
      margin-bottom: 40px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
  .info1 {
    @include flex;
    @include justify-between;
    @media (max-width: 1024px) {
      @include dir-col;
    }
    .texts-wrap {
      h4 {
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 40px;
        color: #252525;
        max-width: 730px;
        @media (max-width: 767px) {
          font-size: 30px;
        }
        @media (max-width: 767px) {
          font-size: 26px;
        }
      }
      p {
        max-width: 560px;
        font-size: 24px;
        margin-bottom: 60px;
        color: #252525;
        @media (max-width: 767px) {
          font-size: 18px;
          margin-bottom: 30px;
        }
      }
    }
    .img {
      @include flex;
      img {
        width: 100%;
      }
    }
  }
  .info2 {
    @include flex;
    @include justify-between;
    align-items: flex-end;
    margin-top: -90px;
    @media (max-width: 1024px) {
      @include dir-col;
      align-items: flex-start;
      margin-top: 30px;
    }
    .img {
      @include flex;
      margin-left: 30px;
      @media (max-width: 1024px) {
        margin-left: 0;
      }
      img {
        width: 100%;
      }
    }
    .texts-wrap {
      max-width: 550px;
      width: 100%;
      h2 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 40px;
        color: #252525;
        @media (max-width: 767px) {
          font-size: 30px;
          margin-bottom: 30px;
        }
      }
      .items {
        .item {
          @include flex;
          margin-bottom: 40px;
          .num {
            @include flex;
            @include align-center;
            @include justify-center;
            margin-right: 30px;
            width: 70px;
            min-width: 70px;
            height: 70px;
            background: url(/img/article/circle-yellow.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            font-size: 34px;
            font-weight: 600;
            color: white;
            @media (max-width: 767px) {
              width: 40px;
              height: 40px;
              min-width: 40px;
              margin-right: 15px;
              font-size: 22px;
            }
          }
          .texts {
            @include flex;
            @include dir-col;
            b {
              display: block;
              font-size: 30px;
              margin-bottom: 20px;
              color: #252525;
              @media (max-width: 767px) {
                font-size: 20px;
                margin-bottom: 10px;
              }
            }
            span {
              font-size: 16px;
              color: #252525;
              @media (max-width: 767px) {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.bonuses-info-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(99, 103, 104, 0.16);
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
  .bonuses-info-item {
    background: #f8f2ea;
    .top {
      margin-bottom: 0;
      .icon {
        &.yellow {
          background: #edb53e;
        }
        &.grey {
          background: #c0b6a7;
        }
      }
    }
  }
}

.bonus-story-item {
  margin-bottom: 24px;
  .date {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #252525;
  }
  .info {
    padding: 16px;
    border-radius: 16px;
    background: #f8f2ea;
    @include flex;
    @include dir-col;
    .top-line {
      @include flex;
      @include align-center;
      @include justify-between;
      margin-bottom: 4px;
      width: 100%;
      @media (max-width: 767px) {
        margin-bottom: 8px;
      }
      .price {
        font-weight: 600;
        color: #252525;
        font-size: 18px;
      }
      .copy {
        @include flex;
        @include align-center;
        font-size: 16px;
        font-weight: 500;
        color: #252525;
        cursor: pointer;
        @media (max-width: 767px) {
          font-size: 0;
        }
        span {
          font-size: 16px;
          font-weight: 500;
          color: #252525;
          margin: 0 5px;
          @media (max-width: 767px) {
            margin-left: 0;
          }
        }
      }
    }
    .bottom-line {
      @include flex;
      @include justify-between;
      width: 100%;
      > span {
        font-size: 14px;
        color: #68727d;
        margin-top: 4px;
      }
      .style {
        background: rgba(237, 181, 62, 0.2);
        border-radius: 30px;
        padding: 10px;
        @include flex;
        @include align-center;
        span {
          font-size: 14px;
          font-weight: 600;
          color: #e19107;
          margin-right: 6px;
        }
      }
    }
  }
}
